@import url(https://fonts.googleapis.com/css?family=Open%20Sans);

$mobile-only: "only screen and (max-width : 768px)";

body {
  margin: 0;
  @media #{$mobile-only} {
    margin: 0;
  }
}

#wrapper {
  background-color: #F6F6EF;
  position: absolute;
  width: 100%;
  min-height: 100%;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

  @media #{$mobile-only} {
    width: 100%;
    background-color: #fff;
  }
}
