<div class="container">
	<h2>New Suggestion</h2>
	<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="form-horizontal">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <label for="title">Title</label>
          <input class="form-control" type="text" placeholder="Suggestion Title" name="title" required ngModel>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <label class="control-label" for="suggestion">Suggestion</label>
          <textarea class="form-control" rows="3" placeholder="Enter your suggestion here" name="suggestion" ngModel></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-check">
          <label class="form-check-label" for="private">
            <input name="private" type="checkbox" class="form-check-input" ngModel>
            Private Suggestion
          </label>
        </div>
      </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>
