<div class="new-suggestion">
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="bs-component">
    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <textarea class="form-control" id="title" type="text" placeholder="Suggestion Title" name="title" ngModel>
      </textarea>
    </div>
    <div class="form-group">
      <label class="control-label" for="suggestion">Suggestion</label>
      <textarea class="form-control" id="suggestion" type="text" placeholder="Enter your suggestion here" name="suggestion" ngModel>
      </textarea>
    </div>
    <div class="form-group">
      <label class="control-label" for="private">Private</label>
      <input class="form-control" type="checkbox" id="private" checked name="private" ngModel>
    </div>
    <div class="form-group">
      <label class="control-label" for="anonymous">Anonymous</label>
      <input class="form-control" type="checkbox" id="anonymous" checked name="anonymous" ngModel>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Submit</button>
        </span>
      </div>
    </div>
  </form>
</div>