<div class="main-content">
  <div *ngIf="item" class="item">
    <div class="laptop" [class.item-header]="item.CommentsCount > 0" [class.head-margin]="item.Content">
      <p>
        <a class="title" href="{{item.Url}}">
          {{item.Title}}
        </a>
      </p>
      <div class="subtext">
        <span>
          {{item.UpVotes}} Up Votes
          {{item.DownVotes}} Down Votes
          <a href="">{{item.Author}}</a>
        </span>
        <span>
          {{item.CreatedAt}}
          <span> |
            <a [routerLink]="['/item', item.id]">
              <span *ngIf="item.CommentsCount !== 0">
                {{item.comments_count}}
                <span *ngIf="item.CommentsCount === 1">comment</span>
                <span *ngIf="item.CommentsCount > 1">comments</span>
              </span>
              <span *ngIf="item.CommentsCount === 0">discuss</span>
            </a>
          </span>
        </span>
      </div>
    </div>
    <p class="subject" [innerHTML]="item.Content"></p>
    <app-comment-tree [commentTree]="item.Comments"></app-comment-tree>
  </div>
</div>
