<div class="main-content">
  <div class="suggestion-list" *ngIf="items">
    <ol start="{{ listStart }}">
      <li *ngFor="let item of items.Items" class="post">
        <item class="item-block" [item]="item"></item>
      </li>
    </ol>
  </div>
  <div class="nav">
    <div class="counter"></div>
    <button *ngIf="listStart !== 1" [routerLink]="['/Suggestions/' + pageNum - 1]"
            class="paginate left"><i></i><i></i></button>
    <button *ngIf="items.Items.length === 20" [routerLink]="['/Suggestions/' + pageNum + 1]"
            class="paginate right"><i></i><i></i></button>
  </div>
</div>
