<!-- header.component.html -->

<header id="header">
  <a class="home-link" href="/">
    <img class="logo" src="https://www2.hu-berlin.de/transatlantic/img/trasym_logo_aubg.gif">
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a href="/">Suggestion Box</a>
      </h1>
      <span class="header-nav">
        <a href="">Suggestions</a>
        <span class="divider">
          |
        </span>
        <a href="">Hot</a>
        <span class="divider">
          |
        </span>
        <a href="/new_suggestion">Create new suggestion</a>
      </span>
    </div>
    <div class="right">
      <span class="header-nav">
        <a href="">Sign In</a>
        <span class="divider">
          |
        </span>
        <a href="">Sign Up</a>
      </span>
    </div>
  </div>
</header>
