<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">SuggestionBox</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/new_suggestion">New Suggestion</a></li>
        <li *ngIf="!isLogged"><a routerLink="/login">Log in</a></li>
        <li *ngIf="!isLogged"><a routerLink="/signup">Sign up</a></li>
        <li *ngIf="isLogged"><a>Hello, {{ userName }}</a></li>
        <li *ngIf="isLogged"><a routerLink="/signout">Log out</a></li>
      </ul>
    </div>
  </div>
</div>
