<div class="panel panel-{{ panelColor }}">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-11">
        <h3 class="panel-title">{{ item.Title }}</h3>
        <small>Created by: {{ item.Author }} on {{ item.DateCreated }}</small>
      </div>
      <div class="col-md-1">
        <div>
          {{ item.UpVotesCount }}
        </div>
        <div>
          {{ item.DownVotesCount }}
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    {{ item.Content }}
    <div class="row">
      <div style="text-align:center;">
        <small>Comments: {{ item.CommentsCount }}</small>
      </div>
    </div>
  </div>
</div>
