<div class="col-md-4 col-md-offset-4">
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="bs-component">
    <div class="form-group">
      <label class="control-label" for="email" >Email</label>
      <input class="form-control" id="email" type="text" placeholder="AUBG email" name ="email" ngModel>
    </div>
    <div class="form-group">
      <label class="control-label" for="password">Password</label>
      <input type="password" class="form-control" id="password"  name="password" ngModel>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" >Log In</button>
        </span>
      </div>
    </div>
  </form>
</div>
